html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/login_bg.jpg) no-repeat center center/cover;
}

.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loginAndRegBox .title-box {
  height: 60px;
  background: url(/assets/images/login_title.png) no-repeat center;
}
.reg-box {
  display: none;
}
.layui-form {
  padding: 0 30px;
}

.link {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.layui-form-item {
  position: relative;
}

.layui-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.layui-input {
  padding-left: 32px;
}

